2 semestre/atp 2/conteudo-exers/linked-list/.vscode/tasks.json
2 semestre/atp 2/conteudo-exers/linked-list/exercicios/prova-turma2/exer1.c
2 semestre/atp 2/domJUDGE/.vscode/settings.json
2 semestre/atp 2/conteudo-exers/linked-list/exercicios/teste
2 semestre/atp 2/conteudo-exers/linked-list/exercicios/.vscode/tasks.json
2 semestre/atp 2/domJUDGE/teste
2 semestre/atp 2/conteudo-exers/linked-list/exercicios/exer4
*.json
2 semestre/atp 2/projetinhos/projeto 4/teste
2 semestre/atp 2/projetinhos/projeto5/teste
