2 semestre/atp 2/conteudo-exers/linked-list/.vscode/tasks.json
2 semestre/atp 2/conteudo-exers/linked-list/exercicios/prova-turma2/exer1.c
2 semestre/atp 2/domJUDGE/.vscode/settings.json
2 semestre/atp 2/conteudo-exers/linked-list/exercicios/teste
2 semestre/atp 2/conteudo-exers/linked-list/exercicios/.vscode/tasks.json
2 semestre/atp 2/domJUDGE/teste
2 semestre/atp 2/conteudo-exers/linked-list/exercicios/exer4
*.json
2 semestre/atp 2/projetinhos/projeto 4/teste
2 semestre/atp 2/projetinhos/projeto5/teste
3 semestre/ed/set/set.c
3 semestre/ed/set/teste
3 semestre/ed/atividade1/teste
3 semestre/ed/atividade1/lista_seq.dev
*.xml
*.class
*.iml
*.html
3 semestre/POO/projeto1/legal/ADDITIONAL_LICENSE_INFO
3 semestre/POO/projeto1/legal/ASSEMBLY_EXCEPTION
*.md
*.js
*.css
*.png
*.xml
*.xml
3 semestre/POO/projeto1/element-list
4 semester/ds2/exercicios-aula4/exercicios_aula4
4 semester/ds2/exercicios-aula4/CMakeFiles/Makefile2
*.d
*.txt
*.marks
*.o
*.cmake
*.ts
*.make
4 semester/ds2/exercicios-aula4/CMakeFiles/exercicios_aula4.dir/compiler_depend.internal
4 semester/ds2/exercicios-aula4/CMakeFiles/CMakeConfigureLog.yaml
*.check_cache
4 semester/ds2/exercicios-aula4/.idea/.name
4 semester/ds2/exercicios-aula4/cmake-build-debug/.ninja_deps
4 semester/ds2/exercicios-aula4/cmake-build-debug/.ninja_log
*.ninja
4 semester/ds2/exercicios-aula4/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
4 semester/ds2/exercicios-aula4/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
4 semester/ds2/exercicios-aula4/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
4 semester/ds2/exercicios-aula4/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/a.out
4 semester/ds2/exercicios-aula4/cmake-build-debug/Testing/Temporary/LastTest.log
4 semester/ds2/exercicios-aula4/CMakeFiles/3.27.1/CMakeDetermineCompilerABI_C.bin
4 semester/ds2/exercicios-aula4/CMakeFiles/3.27.1/CompilerIdC/a.out
4 semester/ds2/exercicios-aula4/CMakeFiles/3.27.1/CompilerIdC/CMakeCCompilerId.c
4 semester/ds2/exercicios-aula4/Makefile
